.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 15);
}

.title {
  color: blue;
}

.nav {
  margin-right: 20px;
  color: rgb(205, 205, 205);
  text-decoration: underline;
}

.nav:hover {
  cursor: pointer;
}
.bo {
  font-family: Arial, sans-serif;
  background-color: #161618;
}
.vid {
  margin-top: 30px;
  border-radius: 15px;
  margin-left: 30px;
}

.title {
  margin-left: 80px;
}
.discription {
  margin-left: 30px;
  color: rgb(168, 168, 168);
  margin-top: 30px;
}

.foo {
  color: white;
  text-align: center;
}

.pe {
  color: rgb(206, 206, 206);
  padding-top: 5cm;
  text-align: center;
}
.footer {
  background-color: rgb(10, 10, 10);
}
